@import url("bootstrap.min.css");
@import url("bootstrap-theme.css");

  
.jumbotron{
	margin-top: 40px;
	/* background: url("../images/windfarm.png") bottom center no-repeat; */
	background: url("../images/windturbines.gif") bottom center no-repeat; 
	background-size: cover;
	color: #FFFFFF;
}

.jumbotron h1{
	color: #FFFFFF;
	text-shadow: 0px 0px 5px #888888;
}

.img-circle {
  max-width: 90%;
}

/*
Reference: view-source:http://bost.ocks.org/mike/sankey/
*/


.mapbox-container {
    position: relative;
    padding-bottom: 60%;
    padding-top: 0px; height: 500px; overflow: hidden; margin:0; padding:0;
}

#map {
  position:relative; top:0; bottom:0; width:100%; height: 500px;
}

.sankey-container {
    position: relative;
    padding-bottom: 60%;
    padding-top: 10; height: 0; overflow: hidden;
}
 
#chart {
  height: 500px;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}




/* Sidebar modules for boxing sankey help content */
.infobar-module {
  padding: 10px;
  margin: 0 -10px 10px;
}
.infobar-module-inset {
  padding: 5px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.infobar-module-inset p:last-child,
.infobar-module-inset ul:last-child,
.infobar-module-inset ol:last-child {
  margin-bottom: 0;
}

/*
Reference: https://gist.github.com/10851532.git
*/

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
	border:none; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


footer{
	border-top: 1px dashed #CCCCCC;
	margin: 20px 0px;
	padding: 20px 0px;
}
